html {
  -webkit-text-size-adjust: none;
}
a {
  text-decoration: none !important;
}
header .logo {
  line-height: 64px;
  display: inline-block;
  position: relative;
  padding-left: 3px;
}
header .logo span {
  margin: 0 4px 0 14px;
  color: #8ec31e;
}
header .logo a {
  color: #666;
}
header .logo .city {
  width: 362px;
  padding: 0 20px;
  position: absolute;
  background: #fff;
  top: 74px;
  left: 112px;
  border: 1px solid #ddd;
  display: none;
  z-index: 100;
}
header .logo .city .flex {
  line-height: 50px;
  border-bottom: 1px dashed #ddd;
}
header .logo .city .flex label {
  color: #808080;
}
header .logo .city .flex i {
  font-size: 24px;
  cursor: pointer;
}
header .logo .city .list {
  line-height: 28px;
  padding: 10px 0;
}
header .logo .city a {
  font-size: 12px;
  display: inline-block;
  width: 60px;
  text-align: center;
}
header .navbar-default {
  margin-bottom: 0;
  border: none;
}
header .navbar-default button {
  margin-top: 16px;
}
header .navbar-default button .icon-bar {
  background: #666;
}
header #coll ul {
  display: flex;
  justify-content: space-between;
}
header #coll li a {
  text-align: center;
  line-height: 62px;
  padding: 0 24px;
  color: #666;
}
header #coll .active,
header #coll li:hover {
  position: relative;
  border-bottom: 2px solid #8ec31e;
}
header #coll .active a,
header #coll li:hover a {
  color: #8ec31e;
}
header #coll a:hover {
  background: transparent;
}
.location {
  border-top: 1px solid #ededed;
  background: #f8f8f8;
  color: #c3c3c3;
}
.location h5 {
  margin: 10px 0;
  line-height: 28px;
}
.location span {
  color: #c6c6c6;
}
.location a {
  color: #8a8a8a;
}
.location label {
  color: #8ec31e;
  font-weight: 300;
  margin: 0;
}
footer {
  border-top: 1px solid #ededed;
  color: #959595;
  height: 40px;
  padding: 6px 0;
  text-align: center;
}
footer span {
  margin: 0 16px;
  font-size: 12px;
  line-height: 28px;
}
.side .pc {
  position: fixed;
  right: 0;
  bottom: 156px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
  background: #fff;
  z-index: 100;
}
.side .pc li {
  width: 180px;
  line-height: 30px;
  padding: 10px 0 10px 30px;
  font-size: 12px;
  vertical-align: middle;
  border-bottom: 1px solid #efefef;
  color: #666;
  cursor: pointer;
}
.side .pc li img {
  margin-right: 12px;
}
.side .pc li span {
  display: block;
  font-size: 16px;
}
.side .pc .tit {
  background: #8ec31e;
  color: #fff;
  font-size: 18px;
  cursor: default;
}
.side .pc li:last-child {
  border-bottom: none;
}
.side .mobile {
  position: fixed;
  left: 15%;
  bottom: 20px;
  width: 70%;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.5);
  padding: 6px 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 100px;
  display: none;
}
.side .mobile li {
  cursor: pointer;
}
.index .banner .item {
  height: 400px;
  background-position: center;
  background-size: cover;
}
.index .banner .item a {
  display: block;
  height: 100%;
  width: 100%;
}
.index .index-news {
  height: 70px;
  margin-top: -35px;
  background: #fff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
  line-height: 70px;
}
.index .index-news .news-box {
  padding: 0 20px;
}
.index .index-news .news-box .change {
  width: 50px;
}
.index .index-news .news-box .fa {
  font-size: 24px;
  cursor: pointer;
  display: block;
  padding: 5px;
}
.index .index-news .news-content {
  overflow: hidden;
  position: relative;
  width: 94%;
  height: 70px;
}
.index .index-news .news-content ul {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.index .index-news .news-content h5 {
  width: 25%;
}
.index .index-news .news-content h5 a {
  color: #666;
}
.index .index-news .news-content p {
  color: #ccc;
  width: 65%;
}
.index .index-news .news-content span {
  display: block;
  color: #666;
  width: 10%;
  text-align: right;
}
.index .index-news .news-content h5,
.index .index-news .news-content p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.index .index-news p {
  margin: 0;
}
.index .quick {
  padding: 20px 0;
}
.index .quick .col-lg-4 {
  display: flex;
  justify-content: center;
}
.index .quick .list {
  margin: 10px auto;
  display: inline-block;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.index .quick .list img {
  max-width: 100%;
}
.index .quick .list div {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .3s;
  top: 0;
  left: 0;
  border: 1px solid transparent;
}
.index .quick .list p {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 18px;
  color: #fff;
}
.index .quick .list .grey {
  color: #4d4d4d;
}
.index .quick .list a {
  position: absolute;
  bottom: -40px;
  right: 22px;
  line-height: 40px;
  width: 46px;
  text-align: center;
  background: #8ec31e;
  font-size: 24px;
  color: #fff;
  transition: .3s;
}
.index .quick .list:hover a {
  bottom: 0px;
}
.index .quick .list:hover div {
  top: 10%;
  left: 4%;
  width: 92%;
  height: 80%;
  border: 1px solid #ddd;
}
.modal-dialog.user-info {
  margin: 200px auto;
  width: 710px;
  max-width: 100%;
}
.modal-dialog.user-info .modal-header {
  text-align: center;
  padding: 10px;
}
.modal-dialog.user-info .modal-header h4 {
  font-size: 22px;
  color: #333;
  margin: 16px 0;
}
.modal-dialog.user-info .modal-header p {
  color: #666;
  font-size: 12px;
  margin: 0;
}
.modal-dialog.user-info .modal-body form {
  padding: 20px 50px;
}
.modal-dialog.user-info .modal-body form ul li {
  display: inline-block;
  padding: 10px 0;
}
.modal-dialog.user-info .modal-body form ul li:nth-child(2n-1) {
  margin-right: 40px;
}
.modal-dialog.user-info .modal-body form span {
  color: #383838;
  display: inline-block;
  width: 66px;
  margin-right: 20px;
  line-height: 30px;
}
.modal-dialog.user-info .modal-body form span small {
  font-size: 14px;
  display: inline-block;
  width: 56px;
  text-align: justify;
  text-align-last: justify;
}
.modal-dialog.user-info .modal-body form i {
  color: #eb6f6f;
  margin-right: 2px;
  font-size: 16px;
}
.modal-dialog.user-info .modal-body form input {
  height: 30px;
  width: 180px;
  border: 1px solid #e6e6e6;
}
.modal-dialog.user-info .modal-body form .form_date {
  display: inline-block;
  border: 1px solid #e6e6e6;
  width: 180px;
  height: 30px;
  margin-left: -3px;
}
.modal-dialog.user-info .modal-body form .form_date .form-control {
  width: 146px;
  background: #fff;
  border: none;
  box-shadow: none;
  height: 28px;
}
.modal-dialog.user-info .modal-body form .input-group-addon {
  background: #fff;
  border: none;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 28px;
}
.modal-dialog.user-info .modal-body form .glyphicon {
  display: inline;
  margin: 0;
}
.modal-dialog.user-info .modal-body form .remarks {
  display: block;
}
.modal-dialog.user-info .modal-body form .remarks span {
  float: left;
}
.modal-dialog.user-info .modal-body form .remarks textarea {
  width: 490px;
  height: 60px;
  min-width: 180px;
  border: 1px solid #e6e6e6;
}
.modal-dialog.user-info .modal-body form button {
  width: 160px;
  height: 36px;
  border: none;
  background: #8ec31e;
  color: #fff;
  margin: 10px 20px 10px 0;
}
.modal-dialog.user-info .modal-body form .cancel {
  color: #666;
  background: #ddd;
}
.activity .title {
  margin: 0;
  padding: 0 10px;
}
.activity .title .tit {
  padding: 0;
  line-height: 46px;
  color: #666;
}
.activity .title .tit a {
  color: #989898;
  padding: 0 12px;
  line-height: 28px;
  display: inline-block;
  margin-right: 20px;
}
.activity .title .tit .active {
  color: #fff;
  background: #8ec31e;
  border-radius: 20px;
}
.activity .title .content {
  overflow: hidden;
}
.activity .title .operate {
  text-align: right;
}
.activity .title .operate button {
  background: transparent;
  border: none;
  color: #999;
}
.activity .activity-list {
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
  margin-bottom: 60px;
}
.activity .activity-list .col-sm-7 {
  padding: 0;
}
.activity .activity-list .carousel {
  overflow: hidden;
  transition: .3s;
}
.activity .activity-list .carousel .carousel-inner img {
  transition: .3s;
}
.activity .activity-list .carousel .kuang {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .3s;
  top: 0;
  left: 0;
  border: 1px solid transparent;
}
.activity .activity-list .carousel .carousel-control {
  width: 8%;
  height: 18%;
  position: absolute;
  bottom: -18%;
  background: #8ec31e;
  text-align: center;
  transition: .3s;
  opacity: 1;
  top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.activity .activity-list .carousel .carousel-control .fa {
  font-size: 30px;
}
.activity .activity-list .carousel .left {
  right: 16%;
  left: auto;
}
.activity .activity-list .carousel .right {
  right: 6%;
}
.activity .activity-list .detail h4 {
  font-size: 22px;
  color: #333;
  margin: 22px 0 10px 0;
}
.activity .activity-list .detail small {
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.activity .activity-list .detail small i {
  margin: 0 16px;
}
.activity .activity-list .detail .address {
  color: #2370fc;
}
.activity .activity-list .detail .address a {
  color: #2370fc;
}
.activity .activity-list .detail ul {
  display: flex;
  margin: 12px 0;
}
.activity .activity-list .detail ul li {
  padding: 3px 5px;
  color: #8ec31e;
  border: 1px solid #8ec31e;
  margin-right: 4px;
}
.activity .activity-list .detail .more {
  width: 118px;
  line-height: 34px;
  display: block;
  border: 1px solid #dadada;
  transition: all ease-out 0.4s;
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  margin-top: 60px;
}
.activity .activity-list .detail .more i {
  background: url(../images/more.png) no-repeat 0 0;
  width: 16px;
  height: 9px;
  display: inline-block;
}
.activity .activity-list .detail .more span {
  display: inline-block;
  width: 0;
  opacity: 0;
  transition: all ease-out 0.4s;
}
.activity .activity-list:hover .carousel {
  padding: 1%;
}
.activity .activity-list:hover .carousel .carousel-inner img {
  margin: -1%;
}
.activity .activity-list:hover .carousel .kuang {
  top: 8%;
  left: 4%;
  width: 91%;
  height: 84%;
  border: 1px solid #ddd;
}
.activity .activity-list:hover .carousel .carousel-control {
  bottom: 3%;
}
.activity .activity-list:hover .detail .more {
  background-color: #8ec31e;
  border-color: #8ec31e;
  color: #fff;
}
.activity .activity-list:hover .detail .more span {
  width: 50px;
  opacity: 1;
}
.activity .activity-list:hover .detail .more i {
  background-position: 0 -7px;
}
.fenye {
  margin-bottom: 80px;
}
.fenye ul {
  margin: 0;
}
.fenye ul li a {
  border: none;
  color: #666;
  margin-right: 10px;
}
.fenye ul li:first-child a,
.fenye ul li:last-child a {
  background: #f7f7f7;
}
.fenye ul .active a {
  background: #8ec31e;
  color: #fff;
}
.activity-detail .tag h2 {
  font-size: 22px;
  margin: 40px 0 20px;
}
.activity-detail .tag ul {
  display: flex;
  margin: 40px 0 18px 0;
}
.activity-detail .tag ul li {
  padding: 3px 5px;
  color: #8ec31e;
  border: 1px solid #8ec31e;
  margin-right: 4px;
}
.activity-detail .tag .carousel .detail {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
}
.activity-detail .tag .carousel .detail p {
  color: #fff;
  margin: 0;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.activity-detail .tag .carousel .detail .carousel-indicators {
  position: static;
  display: inline-block;
  margin: 0;
  width: auto;
  min-width: 68px;
}
.activity-detail .tag .carousel .detail .carousel-indicators li {
  background: #2a2c2d;
  border: 2px solid #4d4e4e;
  border-radius: 0;
  margin: 0 6px;
}
.activity-detail .tag .carousel .detail .carousel-indicators .active {
  border: 2px solid #c0c0c0;
  background: #4d4e4e;
  height: 10px;
  width: 10px;
}
.activity-detail .tag .carousel .carousel-control {
  width: 60px;
  background: transparent;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.activity-detail .tag .carousel .carousel-control span {
  color: #d9d9d9;
  font-size: 40px;
  text-shadow: none;
}
.activity-detail .tag .carousel .left {
  left: -60px;
}
.activity-detail .tag .carousel .right {
  right: -60px;
}
.activity-detail .tag .address {
  margin-top: 20px;
  color: #5d5d5d;
}
.activity-detail .tag .address i {
  margin: 0 30px;
  color: #e1e1e1;
}
.activity-detail .tag .address span {
  color: #2370fc;
}
.activity-detail .tag .address span a {
  color: #2370fc;
}
.activity-detail .tag .detail-title {
  background: #f2f2f2;
  margin: 20px 0 50px;
  padding-left: 20px;
}
.activity-detail .tag .detail-title h3 {
  margin: 0;
  font-size: 22px;
}
.activity-detail .tag .detail-title a {
  display: block;
  width: 200px;
  height: 60px;
  background: #8ec31e;
  color: #fff;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
}
.detail-tab {
  background: #fff;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  margin-bottom: 30px;
}
.detail-tab .flex {
  max-width: 400px;
  margin: 0 auto;
}
.detail-tab span {
  color: #ccc;
}
.detail-tab a {
  color: #7d7d7d;
  display: block;
  width: 100px;
  line-height: 30px;
  text-align: center;
}
.detail-tab .active {
  background: #8ec31e;
  color: #fff;
}
.detail-content section {
  padding: 60px 0;
}
.detail-content section .container {
  position: relative;
}
.detail-content section:nth-child(2n-1) {
  background: #f8f8f8;
}
.detail-content h3 {
  font-size: 18px;
  margin: 0 0 30px;
}
.detail-content h4 {
  font-size: 16px;
  margin: 0 0 30px;
}
.detail-content p {
  margin: 0;
  line-height: 30px;
  color: #666;
}
.detail-content img {
  max-width: 100%;
  margin-top: 30px;
}
.detail-content .title {
  position: absolute;
  top: 0;
  left: -140px;
  height: 100px;
  width: 100px;
  font-size: 26px;
  color: #fff;
  text-align: center;
  line-height: 32px;
  padding: 20px;
  box-shadow: 0 50px 30px rgba(0, 0, 0, 0.1);
  background: url(../images/detail_07.png);
  background-size: cover;
}
.detail-content .spacing {
  height: 40px;
}
.detail-content .red {
  color: #e53233;
}
.detail-content .accommodation {
  background: #f3f9e8;
  color: #808080;
  line-height: 28px;
  padding: 18px;
  margin: 30px 0;
}
.detail-content .accommodation label {
  margin: 0;
  font-weight: 300;
  display: inline-block;
}
.detail-content .accommodation span {
  margin-right: 20px;
  display: inline-block;
}
.detail-content ul {
  margin-left: 34px;
  border-left: 2px solid #f3f4f8;
  padding-left: 20px;
}
.detail-content ul li {
  position: relative;
}
.detail-content ul li label {
  color: #333;
  display: block;
}
.detail-content ul li span {
  color: #808080;
  display: block;
  margin: 20px 0 50px 0;
}
.detail-content ul li:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -31px;
  background: #8ec31e;
  border: 4px solid #fff;
}
.detail-foot {
  border-top: 1px solid #ebebeb;
}
.detail-foot .row {
  margin: 0;
}
.detail-foot .row .content {
  max-width: 500px;
}
.detail-foot .row .right {
  float: right;
}
.detail-foot .row .foot-left {
  border-right: 1px solid #eee;
}
.detail-foot .row h4 {
  margin: 0 0 15px;
}
.detail-foot .row .img {
  border: 1px solid #e6e6e6;
  padding: 8px;
  display: inline-block;
}
.detail-foot .row img {
  margin: 0;
  max-width: 100%;
}
.detail-foot .row small {
  max-width: 500px;
  display: block;
  margin-bottom: 20px;
  color: #808080;
}
.detail-foot .row h5 {
  color: #595959;
  margin: 30px 0;
}
.detail-foot .row .green {
  color: #8ec31e;
}
.detail-foot .row .balck {
  color: #000;
}
.search {
  height: 300px;
  background: url(../images/supplier_02.png);
  background-position: center;
  background-size: cover;
  padding-top: 110px;
}
.search .search-box {
  margin: 0 auto;
  max-width: 640px;
  display: flex;
  justify-content: space-between;
  background: #fff;
}
.search .search-box input {
  width: 80%;
  border: none;
  background: transparent;
  height: 40px;
  text-indent: 10px;
}
.search .search-box button {
  width: 20%;
  border: none;
  background: #8ec31e;
  height: 40px;
  color: #fff;
}
.supplier {
  padding: 40px 0;
}
.supplier .row {
  margin: 0;
}
.supplier .supplier-list {
  margin: 20px 0;
}
.supplier .supplier-list .shadow {
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  padding-bottom: 1px;
}
.supplier .supplier-list .shadow:after {
  content: '';
  display: block;
  clear: both;
}
.supplier .supplier-list .img {
  padding: 0;
}
.supplier .supplier-list .img-box {
  overflow: hidden;
  transition: .3s;
  max-width: 300px;
  position: relative;
}
.supplier .supplier-list .img-box img {
  max-width: 100%;
  transition: .3s;
}
.supplier .supplier-list .img-box div {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .3s;
  top: 0;
  left: 0;
  border: 1px solid transparent;
}
.supplier .supplier-list .detail {
  padding: 0 5px;
}
.supplier .supplier-list .detail h4 {
  font-size: 22px;
  color: #333;
  margin: 22px 0 10px 0;
}
.supplier .supplier-list .detail small {
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.supplier .supplier-list .detail .more {
  width: 118px;
  line-height: 34px;
  display: block;
  border: 1px solid #dadada;
  transition: all ease-out 0.4s;
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 6px;
}
.supplier .supplier-list .detail .more i {
  background: url(../images/more.png) no-repeat 0 0;
  width: 16px;
  height: 9px;
  display: inline-block;
}
.supplier .supplier-list .detail .more span {
  display: inline-block;
  width: 0;
  opacity: 0;
  transition: all ease-out 0.4s;
}
.supplier .supplier-list:hover .img-box {
  margin: 10px;
}
.supplier .supplier-list:hover .img-box img {
  margin: -10px;
}
.supplier .supplier-list:hover .img-box div {
  top: 4%;
  left: 4%;
  width: 90%;
  height: 90%;
  border: 1px solid #ddd;
}
.supplier .supplier-list:hover .detail .more {
  background-color: #8ec31e;
  border-color: #8ec31e;
  color: #fff;
}
.supplier .supplier-list:hover .detail .more span {
  width: 50px;
  opacity: 1;
}
.supplier .supplier-list:hover .detail .more i {
  background-position: 0 -7px;
}
.get-more {
  display: block;
  margin: 40px auto;
  width: 160px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  border: 1px solid #d9d9d9;
  color: #8ec31e;
  font-size: ;
}
.get-more:hover {
  background: #8ec31e;
  color: #fff;
  border: 1px solid #8ec31e;
}
.supplier-banner {
  height: 300px;
  background: url(../images/club_02.jpg);
  background-position: center;
  background-size: cover;
}
.supplier-detail .club-info {
  padding-top: 20px;
  text-align: center;
}
.supplier-detail .club-info img {
  max-width: 100%;
}
.supplier-detail .club-info .content {
  margin-top: 20px;
  border-top: 1px dashed #efefef;
  padding: 16px 0 30px 0;
  text-align: left;
}
.supplier-detail .club-info .content p {
  color: #666;
  font-size: 12px;
  line-height: 24px;
}
.supplier-detail .club-detail h2 {
  margin: 10px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
.supplier-detail .club-detail .certificate div {
  display: inline-block;
  padding: 6px 24px 6px 0;
}
.supplier-detail .club-detail .club-contact li {
  display: inline-block;
  height: 90px;
  background: #fcfcfc;
  border: 1px solid #e6e6e6;
  margin: 10px 20px 10px 0;
  padding: 16px;
  width: 226px;
}
.supplier-detail .club-detail .club-contact li img {
  margin-right: 10px;
}
.supplier-detail .club-detail .club-contact li span,
.supplier-detail .club-detail .club-contact li p {
  font-size: 12px;
  line-height: 24px;
}
.supplier-detail .club-detail .club-contact li p {
  margin-top: 6px;
  color: #666;
}
.supplier-detail .club-detail .club-contact li p a {
  color: #3b75e9;
}
.supplier-detail .club-detail .club-contact li:last-child {
  width: 476px;
}
.supplier-detail .supplier-intro {
  text-align: center;
}
.supplier-detail .supplier-intro .col-md-4 {
  margin-bottom: 20px;
}
.supplier-detail .supplier-intro .col-md-4 div {
  border: 1px solid #eee;
  height: 410px;
}
.supplier-detail .supplier-intro img {
  max-width: 100%;
}
.supplier-detail .supplier-intro h5,
.supplier-detail .supplier-intro small {
  display: block;
  text-align: left;
  margin: 30px;
  color: #696969;
}
.supplier-detail .supplier-title {
  padding: 60px 0;
  text-align: center;
}
.supplier-detail .supplier-title h2 {
  color: #333;
  font-size: 24px;
}
.supplier-detail .supplier-title p {
  color: #cacaca;
  font-size: 16px;
}
.supplier-detail .team-list {
  margin-bottom: 30px;
}
.supplier-detail .team-list figure {
  background: #f7f8fa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.supplier-detail .team-list figure div {
  width: 44%;
  float: left;
  display: inline-block;
  transition: .3s;
  overflow: hidden;
}
.supplier-detail .team-list figure div img {
  max-width: 100%;
  transition: .3s;
}
.supplier-detail .team-list figure figcaption {
  width: 54%;
  padding: 0 24px;
  float: left;
  transition: .3s;
}
.supplier-detail .team-list figure figcaption h5 {
  color: #333;
  margin: 30px 0 20px;
}
.supplier-detail .team-list figure figcaption h6 {
  color: #818284;
  line-height: 24px;
}
.supplier-detail .team-list figure:after {
  content: '';
  display: block;
  clear: both;
}
.supplier-detail .team-list figure:hover {
  background: #fff;
}
.supplier-detail .team-list figure:hover div {
  margin: 2%;
}
.supplier-detail .team-list figure:hover div img {
  margin: -10px;
}
.supplier-detail .team-list figure:hover figcaption {
  width: 50%;
}
.contact-us {
  margin: 186px auto;
  border-bottom: 1px dashed #ccc;
  border-top: 1px dashed #ccc;
  padding: 50px 0;
}
.contact-us .row {
  margin: 0;
}
.contact-us .map img {
  max-width: 100%;
}
.contact-us .detail {
  padding-top: 20px;
}
.contact-us .detail h5,
.contact-us .detail p {
  color: #808080;
  margin: 0;
  line-height: 24px;
}
.contact-us .detail h5 span,
.contact-us .detail p span {
  color: #999;
  display: block;
  margin-bottom: 30px;
}
.join-us {
  line-height: 24px;
  color: #666;
  margin-bottom: 200px;
}
.join-us .title {
  margin: 80px 0 40px;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 30px 0;
}
.join-us .title h5 {
  margin: 0;
  line-height: 24px;
}
.join-us .content p {
  margin: 0;
}
.case {
  padding: 40px 0;
}
.case figure {
  height: 360px;
  margin: 0 auto 20px auto;
  width: 278px;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  position: relative;
}
.case figure .img {
  position: relative;
  transition: .3s;
  overflow: hidden;
}
.case figure .img img {
  width: 278px;
  height: 172px;
  transition: .3s;
}
.case figure .img div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  transition: .3s;
}
.case figure .img a {
  position: absolute;
  bottom: -40px;
  right: 30px;
  display: block;
  width: 46px;
  line-height: 40px;
  background: #8ec31e;
  font-size: 30px;
  color: #fff;
  transition: .3s;
  font-weight: 300;
  text-align: center;
}
.case figure figcaption {
  padding: 0 20px;
}
.case figure figcaption h5 {
  color: #262626;
  margin: 30px 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.case figure figcaption p {
  color: #808080;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.case figure figcaption a {
  position: absolute;
  bottom: -40px;
  width: 100%;
  left: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8ec31e;
  transition: .3s;
}
.case figure:hover .img {
  overflow: hidden;
  height: 162px;
}
.case figure:hover .img div {
  width: 258px;
  height: 142px;
  margin: 10px;
  border: 1px solid #eee;
}
.case figure:hover .img img {
  transform: scale(1.1, 1.1);
}
.case figure:hover .img a {
  bottom: 0;
}
.case figure:hover figcaption h5 {
  color: #8ec31e;
}
.case figure:hover figcaption a {
  bottom: 0;
}
.news-detail {
  padding: 40px 0 60px;
}
.news-detail .title,
.news-detail .content {
  margin-bottom: 20px;
  padding: 0 12px;
}
.news-detail .row {
  margin: 0;
}
.news-detail h3 {
  font-size: 20px;
  color: #8ec31e;
  margin: 0;
}
.news-detail h5 {
  color: #999;
}
.news-detail p {
  color: #666;
  margin: 0;
  font-size: 12px;
  line-height: 24px;
}
.news-detail img {
  max-width: 100%;
  margin: 10px 0;
}
